{name, "oneshot"}.
{description, "oneshot: accept a TCP connection then hand it off to a function"}.
{homepage, "https://github.com/mattsta/oneshot"}.
{url, {git, "https://github.com/mattsta/oneshot.git", {branch, "master"}}}.
{authors, ["Matt Stancliff <sysop@mindspring.com>"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
